<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="GameView.css">
</head>
<body>
  <h1>Welcome to {{title}}</h1>
  <p>Mines: {{mines}} Percentage: {{percentageMines}}%</p>

  <table>
    {{#each board as |row|}}
      <tr>
        {{#each row as |cell|}}
          <td>
            {{cell}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>

  <pre>{{#json board}}{{/json}}</pre>
</body>
</html>
