:root {
  --margin-body: .8rem;
  --margin-game-tile: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: var(--margin-body);
  padding: 0;

  font-size: 1.6rem;

  background-color: rgba(172, 170, 170, 0.6);
}

.container {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.game-tile {
  flex: 1 1 10rem;

  min-height: 10rem;
  margin: 1rem;

  color: rgb(44, 44, 44);
  text-decoration: none;

  background-color: #eee;
  border: 1px darkgrey solid;

  transition: box-shadow 300ms ease-out, background-color 250ms ease-out;
}
.game-tile:hover,
.game-tile:focus {
  background-color: #fff;

  box-shadow: .2rem .2rem .2rem .1rem rgba(0, 0, 0, 0.2);
}
/* .game-tile__headline {}
.game-tile__subline {} */
.game-tile__mines {
  font-weight: bold;
}
